<html>
  <p style="text-align: center">
    <img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
    />
  </p>
  <p style="text-align: left">
    <span style="font-size: 18px">
      <strong>Hi Firstname,</strong><br />
      It's Aarati and I attempted to reach you by phone, but unfortunately we
      weren't able to connect.<br />
      <strong>Is there a better number to reach you via phone or text?</strong>
      When would be a good time to try again?<br />
      I'd really love an opportunity to discuss some of our amazing vehicle
      financing options with you...<br />
      Looking forward to chatting soon, <br />
      Aarati<br />
      <u>aarati@konnectcraft.com</u>
    </span>
  </p>
</html>
