<html>
  <p style="text-align: center">
    <img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
    />
  </p>
  <p style="text-align: left">
    <span style="font-size: 18px">
      <strong>Hey Firstname,</strong><br />
      This is Aarati reaching out to you again regarding your<strong>
        vehicle loan application.</strong
      ><br />
      We received your application a couple of days ago,
      <strong>but still haven't had a chance to connect</strong> with you,
      despite multiple attempts.<br />
      Give me a shout at your earliest convenience.<br />
      Chat soon, <br />
      Aarati<br />
      <u>aarati@konnectcraft.com</u>
    </span>
  </p>
</html>
