<html>
  <p style="text-align: center">
    <img
      src="https://media.discordapp.net/attachments/1209366005139120140/1234546364856270869/image.png?ex=66312066&amp;is=662fcee6&amp;hm=f950b3cc801f0ba2ce74f1137821d8692bbb61dae9a47566fbc44d2f815d9771&amp;=&amp;format=webp&amp;quality=lossless&amp;width=1041&amp;height=309"
      alt=""
      width="300"
      style="font-size: 18px"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong>Cher/chère Firstname,</strong><br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Je vous écris pour confirmer notre rendez-vous à nos bureaux situés au
      2430 boulevard Curé Labelle, Laval, H7T 1R1.<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Nous avons convenu de nous rencontrer pour discuter de vos options
      concernant votre prochain véhicule le . Mega Moteur Laval et moi sommes
      impatients de vous accueillir et de discuter plus en détail de vos besoins
      en matière de financement automobile.<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px">Adresse de rendez-vous:<br /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Nom du rendez-vous: Firstname test<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Veuillez noter qu'il serait important d'apporter avec vous les éléments
      suivants :<br
    /></span>
  </p>
  <ol>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >Les 2 derniers talons de paie ou toute source permettant de prouver
        votre revenu aux institutions bancaires.
      </span>
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px">2 pièces d'identité valides. </span>
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >Un spécimen de chèque de votre institution financière. Si vous ne
        possédez pas de spécimen de chèque physique, vous pouvez également
        l'avoir disponible sur votre téléphone, nous pouvons l'imprimer sur
        place.<br
      /></span>
    </li>
  </ol>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >N'hésitez pas à me contacter si vous avez besoin de plus d'informations
      ou si toutefois vous désirez changer l'heure et la date .<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Dans l'attente de vous rencontrer, je vous prie d'agréer, Firstname,
      l'expression de mes salutations distinguées.<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Cordialement, <br />Aarati Adhikari <br />Responsable des finances</span
    >
  </p>
</html>
