<html>
  <p style="text-align: center">
    <img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
      style="font-size: 18px"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong> Bonjour Firstname,</strong><br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >C'est avec grand plaisir que nous entrons en contact avec vous !<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Nous vous exprimons notre gratitude d'avoir choisi
      <a href="https://megamoteur.ca/" target="_blank" previewlistener="true"
        >Mega Moteur</a
      >
      pour vos besoins en financement auto.<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Bientôt, l'un de nos experts, situé à proximité de chez vous, prendra
      contact avec vous.<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Nous sommes convaincus que vous serez pleinement satisfait de la qualité
      de nos services et des diverses options de prêt auto que nous mettons à
      votre disposition. Ne prenez pas seulement notre parole pour acquis,
      <a
        href="https://megamoteur.ca/revues/"
        target="_blank"
        previewlistener="true"
        >découvrez par vous-même les nombreux témoignages positifs de Canadiens
        comblés !</a
      ><br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><a
        href="https://megamoteur.ca/mauvais-credit-financement-automobile-mega-moteur-notre-histoire/"
        previewlistener="true"
        target="_blank"
        >Cliquez ici</a
      >
      ou visionnez la vidéo ci-dessous pour obtenir de plus amples informations
      sur ce que nous avons à vous offrir.
    </span>
  </p>
  <p style="text-align: center">
    <span style="font-size: 18px"
      ><img
        src="blob:http://localhost:3000/c7f520a1-8d4f-41db-9acd-92e76c0fcb43"
        style="width: 400px"
      /><br />
    </span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Chez Mega Moteur, nous avons une approche unique pour faciliter le
      financement de votre véhicule et alléger votre stress.<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Voici quelques points clés sur ce que nous offrons :<br
    /></span>
  </p>
  <ul>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >Possibilité de différer ou d'éviter les paiements pendant 5 mois<br
      /></span>
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >Option de consolidation de crédit jusqu'à 2500 $<br
      /></span>
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px">Aucun acompte requis<br /></span>
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >Livraison hors site ou à domicile disponible<br
      /></span>
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >Service haut de gamme : nettoyage et désinfection de la voiture avant
        la livraison<br
      /></span>
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >Opportunité d'améliorer votre cote de crédit pendant que vous
        conduisez<br
      /></span>
    </li>
  </ul>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Si vous avez des questions, n'hésitez pas à nous contacter à tout moment
      au ou à l'addresse info@megamoteur.ca<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Nous sommes impatients de vous accueillir,<br />
      L'équipe Mega Moteur<br /><a
        href="https://megamoteur.ca/"
        previewlistener="true"
        target="_blank"
        >megamoteur.ca</a
      ><br /><a href="+14505056000" target="_blank" previewlistener="true">
        1.450.505.6000 </a
      ><br /><a
        href="info@megamoteur.ca?subject=I%20want%20to%20speak%20to%20the%20Genie!"
        target="_blank"
        previewlistener="true"
        >info@megamoteur.ca
      </a></span
    >
  </p>
</html>
