<html>
  <p style="text-align: center">
    <img
      src="https://media.discordapp.net/attachments/1209366005139120140/1234546364856270869/image.png?ex=66312066&amp;is=662fcee6&amp;hm=f950b3cc801f0ba2ce74f1137821d8692bbb61dae9a47566fbc44d2f815d9771&amp;=&amp;format=webp&amp;quality=lossless&amp;width=1041&amp;height=309"
      alt=""
      width="300"
      style="font-size: 18px"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong>Bonjour Firstname,</strong><br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >C'est avec grand plaisir que nous entrons en contact avec vous !<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Nous vous exprimons notre gratitude d'avoir choisi
      <a href="https://megamoteur.ca/" target="_blank" previewlistener="true"
        >Mega Moteur</a
      >
      pour vos besoins en financement auto.<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Bientôt, l'un de nos experts, situé à proximité de chez vous, prendra
      contact avec vous.<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Nous sommes convaincus que vous serez pleinement satisfait de la qualité
      de nos services et des diverses options de prêt auto que nous mettons à
      votre disposition. Ne prenez pas seulement notre parole pour acquis,
      <a
        href="https://megamoteur.ca/revues/"
        target="_blank"
        previewlistener="true"
        >découvrez par vous-même les nombreux témoignages positifs de Canadiens
        comblés !</a
      ><br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><a
        href="https://megamoteur.ca/mauvais-credit-financement-automobile-mega-moteur-notre-histoire/"
        target="_blank"
        previewlistener="true"
        >Cliquez ici</a
      >
      ou visionnez la vidéo ci-dessous pour obtenir de plus amples informations
      sur ce que nous avons à vous offrir.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><img
        src="https://media.discordapp.net/attachments/1209366005139120140/1234531088395927665/image.png?ex=6631122b&amp;is=662fc0ab&amp;hm=848cd25df3da9465d34348df23b6fbe835dc6bc4dfb46f812b097caeb2e47996&amp;=&amp;format=webp&amp;quality=lossless&amp;width=804&amp;height=391"
        width="350"
        style="
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 350px;
        "
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Chez Mega Moteur, nous avons une approche unique pour faciliter le
      financement de votre véhicule et alléger votre stress.<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Voici quelques points clés sur ce que nous offrons :<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Possibilité de différer ou d'éviter les paiements pendant 5 mois<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Option de consolidation de crédit jusqu'à 2500 $<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px">Aucun acompte requis<br /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Livraison hors site ou à domicile disponible<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Service haut de gamme : nettoyage et désinfection de la voiture avant la
      livraison<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Opportunité d'améliorer votre cote de crédit pendant que vous
      conduisez<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Si vous avez des questions, n'hésitez pas à nous contacter à tout moment
      au ou à l'addresse info@megamoteur.ca<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Nous sommes impatients de vous accueillir,<br />
      L'équipe Mega Moteur<br /><a
        href="https://megamoteur.ca/"
        target="_blank"
        previewlistener="true"
        >megamoteur.ca</a
      ><br /><a href="+14505056000" target="_blank" previewlistener="true">
        1.450.505.6000 <br /></a
      ><a
        href="info@megamoteur.ca?subject=I%20want%20to%20speak%20to%20the%20Genie!"
        target="_blank"
        previewlistener="true"
        >info@megamoteur.ca</a
      ></span
    >
  </p>
</html>
