<html>
  
  <p style="text-align: center">
    <img src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png" alt="" width="300" style="font-size: 18px;">
  </p>
  <p style="text-align: center">
    <img src="blob:http://localhost:3000/ace9b80e-4532-464a-a59b-51c56f540bba" style="width: 300px; font-size: 18px;">
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px;">Oui, vous avez bien lu...<br></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px;">Le paiement de votre véhicule est pris en charge .
    </span>
  </p>
  <p style="text-align: center">
    <span style="font-size: 18px;"><img src="blob:http://localhost:3000/f7f5f1d9-715d-405d-ad6f-48418ea0a637" alt=""><br>
    </span>
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap; font-size: 18px;">Comment cela fonctionne-t-il ?<br></span>
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap; font-size: 18px;">Si vous avez financé votre véhicule avec Approval Genie / Mega Moteur et que vous redoutez de manquer un paiement, notre AideAuPaiement propose une couverture jusqu'à la valeur d'un seul paiement bihebdomadaire de votre véhicule* au cours de la première année de possession.<br></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px;"><span style="white-space: pre-wrap;">O</span><span style="white-space: pre-wrap;">U...<br></span>
  </span></p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap; font-size: 18px;">Si aucun paiement n'a été manqué au cours de la période de 12 mois, vous avez également la possibilité d'échanger le bon contre un crédit de 1000 $ pour votre prochain financement de véhicule avec nous !<br></span>
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap; font-size: 18px;">Profitez de AideAuPaiement - contactez-nous dès aujourd'hui !<br></span>
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap; font-size: 18px;">Il s'agit d'une offre à durée limitée, <a href="+18558683155" target="_blank" previewlistener="true">appelez nous</a> ou <a href="https://www.approvalgenie.ca/contact-used-car-dealerships-near-me/" target="_blank" previewlistener="true">envoyez un courriel</a> à Mega Moteur pour financer votre prochain véhicule avec une équipe en laquelle vous pouvez avoir confiance pour vous remettre sur la route d'un excellent crédit de manière sécurisée et abordable.<br></span>
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap; font-size: 18px;">Nous offrons une <a href="https://www.approvalgenie.ca/used-car-inventory/" target="_blank" previewlistener="true">vaste sélection de véhicules</a> répondant à la fois à votre budget et à votre style de vie. Nos véhicules, de toutes marques et de toutes années, sont récents . Nos experts financiers sont des passionnés qui allègent le stress lié à l'achat de votre voiture. Ils vous accompagneront dans l'élaboration d'un plan d'action visant à rétablir un excellent dossier de crédit. Pas de discours trompeurs - vous avez le contrôle .</span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px;">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp;<img src="blob:http://localhost:3000/671ce2d7-5b29-4fdb-97f4-2cf49cc5b3da" style="width: 400px"><br>
    </span>
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap; font-size: 18px;">Si vous avez des questions, n'hésitez pas à <a href="https://www.approvalgenie.ca/contact-used-car-dealerships-near-me/" target="_blank" previewlistener="true">nous contacter</a> à tout moment au ou aarati@konnectcraft.com<br></span>
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap; font-size: 18px;">Nous sommes ravis de pouvoir vous aider,<br>Aarati<br><a href="aarati@konnectcraft.com?subject=I%20want%20to%20speak%20to%20the%20Genie!" target="_blank" previewlistener="true">aarati@konnectcraft.com</a></span>
  </p>
</html>
