<html>
  <p style="text-align: justify">
    <img
      src="https://media.discordapp.net/attachments/1088529328146481213/1234053614377369640/image.png?ex=662f557d&amp;is=662e03fd&amp;hm=859f82dddbd94a371c3b6815c8ceee39170c8af23865b6e0c39125433b69fc25&amp;=&amp;format=webp&amp;quality=lossless&amp;width=480&amp;height=120"
      alt=""
      width="300"
      style="display: block; margin-left: auto; margin-right: auto"
    />
  </p>
  <p style="text-align: justify">
    <img
      src="https://media.discordapp.net/attachments/1209366005139120140/1234148632257888396/image.png?ex=662fadfb&amp;is=662e5c7b&amp;hm=14dba513de8ef999802bc37dce44718b213c35548057e29b95ac60a8fffdf2ca&amp;=&amp;format=webp&amp;quality=lossless&amp;width=660&amp;height=252"
      alt=""
      width="300"
      style="display: block; margin-left: auto; margin-right: auto"
    /><br />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"><strong>Rebonjour Firstname,</strong></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Nous espérons que vous appréciez votre nouveau véhicule ! Comme vous le
      savez, l'équipe de Mega Moteur aime aider les gens. De même, nous aimons
      récompenser les personnes qui nous aident à nous rapprocher de notre
      communauté. De même, nous aimons récompenser les personnes qui nous aident
      à nous rapprocher de notre communauté. Nous voulions vous informer de
      notre prime de recommandation ! Tous nos clients fidèles ont la
      possibilité de recevoir une
      <span style="color: rgb(106, 168, 79)">PRIME DE RÉFÉRENCE de 500 $</span>
      lors de la livraison d'un véhicule de référence. C'est très facile - il
      suffit de faire suivre ce courriel à vos amis et de leur demander de le
      montrer à leur vendeur lors de la livraison du véhicule.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Vous recevrez alors un petit montant de 500 $ pour avoir aidé votre ou
      vos amis à améliorer leur crédit pendant qu'ils conduisaient. Tout le
      monde y gagne !</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><img
        src="https://media.discordapp.net/attachments/1209366005139120140/1234148667745767477/image.png?ex=662fae03&amp;is=662e5c83&amp;hm=2af8d2a748920bafac64eb5c496a7cdda0f7831734d790d10af0cf2ec3c5d88a&amp;=&amp;format=webp&amp;quality=lossless&amp;width=660&amp;height=339"
        alt=""
        width="300"
        style="display: block; margin-left: auto; margin-right: auto"
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Notre équipe peut vous aider à financer,
      <a
        href="https://megamoteur.ca/vendre-echanger-votre-voiture/"
        target="_blank"
        previewlistener="true"
        >échanger</a
      >
      ou même acheter votre véhicule 100 % en ligne et par téléphone - depuis le
      confort et la sécurité de votre domicile. Notre équipe vous apportera
      votre véhicule directement à votre porte, grâce à un processus de
      livraison sans contact conçu pour assurer votre sécurité. Nous sommes tous
      dans le même bateau, et chez Mega Moteur, nous faisons notre part pour que
      vous restiez en mouvement.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong
        >Nous proposons également d'autres mesures incitatives intéressantes
        :</strong
      ></span
    >
  </p>
  <ul>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        ><strong
          >report de paiement ou absence de paiement pendant 5 mois pour les
          prêts auto</strong
        ></span
      >
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        ><strong
          >consolidation potentielle de vos dettes/crédits (jusqu'à 2500
          $)</strong
        ></span
      >
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"><strong>0 $ d'acompte</strong></span>
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        ><strong
          >livraison à domicile de votre véhicule neuf ou d'occasion</strong
        ></span
      >
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        ><strong
          >Nettoyage et désinfection des voitures avant la livraison sans
          contact ("White Glove Service")</strong
        ></span
      >
    </li>
  </ul>
  <p style="text-align: justify">
    <img
      src="https://media.discordapp.net/attachments/1209366005139120140/1234148734686859355/image.png?ex=662fae13&amp;is=662e5c93&amp;hm=6785419cf9edce5b8fbcb24f154ff8745fa5ebee2c5476cae4216db4e0960d37&amp;=&amp;format=webp&amp;quality=lossless&amp;width=660&amp;height=66"
      width="500"
      style="width: 500px"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Mega Moteur s'engage à répondre aux besoins de financement de ses
      clients, quelles que soient les conditions du marché. Comme toujours, les
      <a
        href="https://megamoteur.ca/vendre-echanger-votre-voiture/"
        target="_blank"
        previewlistener="true"
        >reprises</a
      >
      et la consolidation des prêts automobiles existants sont les
      bienvenues.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><img
        src="https://media.discordapp.net/attachments/1209366005139120140/1234148773672779847/image.png?ex=662fae1d&amp;is=662e5c9d&amp;hm=b0984ceb816494a6dd578c6d616c1170b82eb0fe44ad28f44368bc19c4f1b9ef&amp;=&amp;format=webp&amp;quality=lossless&amp;width=1200&amp;height=130"
        width="500"
        style="width: 500px"
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Nous sommes là pour répondre à tous vos besoins en matière de financement
      de véhicules, alors n'hésitez pas à nous contacter à tout moment à
      l'adresse suivante ou aarati@konnectcraft.com</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Nous nous réjouissons de pouvoir vous aider,<br />
      Aarati<br />
      <u>aarati@konnectcraft.com</u></span
    >
  </p>
</html>
