<html>
  <p style="text-align: center">
    <img
      src="https://media.discordapp.net/attachments/1088529328146481213/1234053614377369640/image.png?ex=662f557d&amp;is=662e03fd&amp;hm=859f82dddbd94a371c3b6815c8ceee39170c8af23865b6e0c39125433b69fc25&amp;=&amp;format=webp&amp;quality=lossless&amp;width=480&amp;height=120"
      alt="megamoteur"
      width="300"
    /><br />
  </p>
  <p style="text-align: left">
    <span style="font-size: 18px">
      <strong>Salut Firstname,</strong><br />
      C'est Aarati qui vous recontacte concernant votre demande de
      <strong>prêt de véhicule</strong>.<br />
      Nous avions reçu votre demande il y a quelques jours, mais nous
      <strong>n'avons toujours pas eu la chance de vous rejoindre</strong>,
      malgré plusieurs tentatives.<br />
      Il serait important de nous rappeler au à votre meilleure convenance afin
      ne pas perdre votre approbation avec les banques.<br />
      On se parle plus tard,<br />
      Aarati<br />
      <u>aarati@konnectcraft.com</u>
    </span>
  </p>
</html>
