<html>
  <p style="text-align: center">
    <img
      src="https://media.discordapp.net/attachments/1088529328146481213/1234053614377369640/image.png?ex=662f557d&amp;is=662e03fd&amp;hm=859f82dddbd94a371c3b6815c8ceee39170c8af23865b6e0c39125433b69fc25&amp;=&amp;format=webp&amp;quality=lossless&amp;width=480&amp;height=120"
      alt="megamoteur"
      width="300"
    /><br />
  </p>
  <p style="text-align: left">
    <span style="font-size: 18px"
      ><strong>Salut Firstname,</strong><br />
      C'est Aarati et j'ai essayé de vous joindre par téléphone à plusieurs
      reprises , mais malheureusement nous n'avons pas pu vous rejoindre.<br />
      <strong
        >Avez-vous un meilleur numéro pour vous contacter par téléphone ou
        SMS?</strong
      >
      Et quel serait le meilleur moment pour réessayer ?<br />
      J'aimerais vraiment avoir l'occasion de discuter avec vous de certaines de
      nos options incroyables de financement de véhicules....<br />
      Au plaisir de discuter bientôt,<br />
      Aarati<br />
      <u>aarati@konnectcraft.com</u>
    </span>
  </p>
</html>
