<html>
  <p style="text-align: center">
    <img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"><strong>Hi Firstname,</strong></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >I've been trying to contact you regarding your
      <strong>online car loan application</strong> that you submitted recently.
      I have left you <strong>voice messages</strong> and also sent you a few
      emails but have been unsuccessful in connecting with you.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >I'd like to review your application for acquiring attractive vehicle
      financing terms and discuss opportunities for repairing and improving your
      credit score.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >When we don't receive a response from the applicant, we may have to
      notify the Credit Reporting Agencies (Credit Bureaus), cautioning of
      <strong>possible fraudulent activity</strong>.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong>Please respond by email</strong> if you've read this message or
      you can contact me at to discuss your intentions with your application.
      Alternatively you may reach me at my direct number at .</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Sincerely, <br />Aarati <br /><u>aarati@konnectcraft.com</u></span
    >
  </p>
</html>
