<html>
  <p style="text-align: center">
    <img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"><strong>Salut Firstname,</strong></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >J'ai essayé de vous contacter au sujet de votre demande de prêt de
      voiture que vous avez soumis récemment`en ligne. Je vous ai laissé des
      <strong>messages vocaux</strong> et vous ai également envoyé quelques
      <strong>courriels ainsi que des textos</strong>, mais je n'ai pas réussi à
      vous rejoindre.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Je souhaite évaluer votre demande de financement et discuter des
      opportunités visant à améliorer votre cote de crédit tout en vous aidant à
      acquérir un véhicule.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >En cas d'absence de réponse de la part du candidat, nous pourrions être
      contraints d'informer le bureau de crédit pour prévenir d'éventuelles
      <strong>activités frauduleuses</strong>.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >S'il vous plaît répondez par courriel si vous avez lu ce message ou vous
      pouvez me contacter au pour discuter de vos intentions avec votre demande.
      Sinon, vous pouvez me joindre à mon numéro direct à .</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px">Sincèrement,</span
    ><span style="font-size: 18px">
      <br />Aarati <br /><u>aarati@konnectcraft.com</u></span
    >
  </p>
</html>
