<html>
  <p style="text-align: center">
    <img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"><strong>Hi Firstname,</strong></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >My name is Aarati Adhikari, and I look forward to our meeting on to
      discuss your options concerning your next vehicle. Approval Genie and I
      are committed to providing you with the information you need to make a
      confident, informed decision.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >If you need directions or need to reschedule our appointment for, please
      call. Otherwise, I look forward to seeing you!</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"><strong>Appointment Address:</strong></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong>Appointment Name:</strong> Firstname test</span
    >
  </p>
  <p style="text-align: justify">
    <span style="color: rgb(60, 120, 216); font-size: 24px"
      ><strong
        >Please remember to bring the following documents with you:</strong
      ></span
    >
  </p>
  <ol>
    <li style="text-align: justify">
      <span style="font-size: 18px">Proof of Income Employed </span>
      <ul>
        <li>
          <span style="font-size: 18px">Last two pay stubs Self-Employed </span>
        </li>
      </ul>
      <ul>
        <li>
          <span style="font-size: 18px"
            >Notice of Assessments &amp; 6 months of bank statements</span
          >
        </li>
      </ul>
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >Proof of Identity (2 pieces of valid ID, including driver’s license)
      </span>
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >Proof of Bank Account (Void Cheque or PAP form)</span
      >
    </li>
  </ol>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Sincerely,<br />Aarati Adhikari <br />Finance Manager<br /><u
        ><a
          href="https://www.approvalgenie.ca/"
          target="_blank"
          previewlistener="true"
          >approvalgenie.ca</a
        ></u
      ></span
    >
  </p>
</html>
