<html>
  <p style="text-align: center">
    <img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"><strong>Hi Firstname,</strong></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >My name is Aarati, and I look forward to our meeting on to discuss your
      options concerning your next vehicle. Approval Genie and I are committed
      to providing you with the information you need to make a confident,
      informed decision.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >If you need directions or need to reschedule our appointment, please
      call. Otherwise, I look forward to seeing you!</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"><strong>Appointment Address:</strong></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Sincerely,<br />Aarati Adhikari <br />Finance Manager<br /><a
        href="https://www.approvalgenie.ca/"
        target="_blank"
        previewlistener="true"
      >
        approvalgenie.ca</a
      ></span
    >
  </p>
</html>
