<html>
  <p style="text-align: center">
    <img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"><strong>Hi Firstname,</strong></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Great to connect with you! Thanks for choosing
      <a
        href="https://www.approvalgenie.ca/"
        target="_blank"
        previewlistener="true"
        >Approval Genie</a
      >
      for your auto finance needs. One of our awesome Genies from
      <a
        href="https://www.approvalgenie.ca/contact-used-car-dealerships-near-me/"
        target="_blank"
        previewlistener="true"
        >your nearest location</a
      >
      will be reaching out to you very shortly.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >We're confident that you'll be thrilled with our services and auto loan
      options we have to offer.
      <a
        href="https://www.approvalgenie.ca/reviews/"
        target="_blank"
        previewlistener="true"
        >Just look at what thousands of happy Canadians are saying!</a
      ><br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><a
        href="https://www.approvalgenie.ca/bad-credit-car-financing-approval-genie-story/"
        target="_blank"
        previewlistener="true"
        >Click here</a
      >
      or watch the video below to learn more about us!</span
    >
  </p>
  <p style="text-align: center">
    <img
      src="blob:http://localhost:3000/c7f520a1-8d4f-41db-9acd-92e76c0fcb43"
      style="width: 400px"
    /><span style="font-size: 18px"><br /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >At Approval Genie, we do things a bit differently. We're here to
      alleviate your stress about financing a vehicle.<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >A few great perks of financing your next vehicle with us:<br
    /></span>
  </p>
  <ul>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >deferred or no payments for 5 months on car loans<br
      /></span>
    </li>
  </ul>
  <ul>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >potential consolidation of your debt/credit (up to $2500)<br
      /></span>
    </li>
  </ul>
  <ul>
    <li style="text-align: justify">
      <span style="font-size: 18px">$0 down payments<br /></span>
    </li>
  </ul>
  <ul>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >off-site / home delivery of your new or used vehicle<br
      /></span>
    </li>
  </ul>
  <ul>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >“White Glove Service” car cleaning and sanitizing prior to delivery<br
      /></span>
    </li>
  </ul>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >If you have any questions, please feel free to contact us anytime at
      <a
        href="info@approvalgenie.ca?subject=I%20want%20to%20speak%20to%20the%20Genie!"
        target="_blank"
        previewlistener="true"
        >info@approvalgenie.ca</a
      ><br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px">We're looking forward to meeting you, </span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Team AG<br /><a
        href="https://www.approvalgenie.ca/"
        target="_blank"
        previewlistener="true"
        >approvalgenie.ca </a
      ><br /><a href="+18558683155" target="_blank" previewlistener="true"
        >1.855.868.3155 </a
      ><br /><a
        href="info@approvalgenie.ca?subject=I%20want%20to%20speak%20to%20the%20Genie!"
        target="_blank"
        previewlistener="true"
        >info@approvalgenie.ca</a
      ></span
    >
  </p>
</html>
