<html>
  <p style="text-align: center">
    &nbsp;&nbsp;<img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
    />
  </p>
  <p style="text-align: center">
    <img
      src="blob:http://localhost:3000/ace9b80e-4532-464a-a59b-51c56f540bba"
      style="width: 300px"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Yes, you read that right... We'll make a vehicle payment for you.<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px">So, how does it work?</span>
  </p>
  <p style="text-align: center">
    <img
      src="blob:http://localhost:3000/f7f5f1d9-715d-405d-ad6f-48418ea0a637"
      alt=""
    /><span style="font-size: 18px"><br /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >If you've financed your vehicle with Approval Genie, and are worried
      about missing a payment, our PaymentAssist program offers coverage up to
      the value of one bi-weekly vehicle payment during the first year of
      ownership.*<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px">OR...<br /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >If no payments have been missed during the initial 12-month ownership
      period, you can also choose to exchange the voucher for $1000 credit
      towards your next vehicle financing!<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Take advantage of PaymentAssist - reach out to us today!<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >This is a limited time offer, so
      <a href="+18558683155" target="_blank" previewlistener="true">call</a> or
      <a
        href="https://www.approvalgenie.ca/contact-used-car-dealerships-near-me/"
        target="_blank"
        previewlistener="true"
        >email</a
      >
      Approval Genie to finance your next vehicle with a team you can trust to
      get you back on the road to great credit - safely and affordably.<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >We offer
      <a
        href="https://www.approvalgenie.ca/used-car-inventory/"
        target="_blank"
        previewlistener="true"
        >hundreds of vehicle choices</a
      >
      to fit your budget and lifestyle. All late-models, makes and years. Our
      Genies are passionate Financial Advisors that will take the stress out of
      your car buying experience and help you with a game plan to get you back
      on the road to great credit. No fast-talking - you are in control.</span
    >
  </p>
  <p style="text-align: justify">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp;<img
      src="blob:http://localhost:3000/671ce2d7-5b29-4fdb-97f4-2cf49cc5b3da"
      style="width: 400px"
    /><span style="font-size: 18px"><br /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >If you have any questions, please feel free to
      <a
        href="https://www.approvalgenie.ca/contact-used-car-dealerships-near-me/"
        target="_blank"
        previewlistener="true"
        >contact us</a
      >
      anytime.<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >We're looking forward to helping you,<br />Aarati <br /><a
        href="aarati@konnectcraft.com?subject=I%20want%20to%20speak%20to%20the%20Genie!"
        target="_blank"
        previewlistener="true"
        >aarati@konnectcraft.com</a
      ></span
    >
  </p>
</html>
