<html>
  <p style="text-align: center">
    <img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
    />
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap"><strong>Hi Firstname,</strong></span>
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap"
      >We're SO CLOSE to handing you the keys to your new ride. In order to get you approved and driving, I just need a few things from you...</span
    >
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap"
      >If you haven't already, please provide me with the following:</span
    >
  </p>
  <ol>
    <li style="text-align: justify">
      <span style="white-space: pre-wrap"
        >A photo or digital copy of your Driver's License</span
      >
    </li>
    <li style="text-align: justify">
      <span style="white-space: pre-wrap"
        >A confirmation ("yes / no" reply to this email), that you've read and understand our Terms &amp; Conditions and Privacy Policy</span
      >
    </li>
    <li style="text-align: justify">
      <span style="white-space: pre-wrap"
        >Permission to check your credit score and find you the best interest rate and lender<br
      /></span>
    </li>
  </ol>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap"
      >Once I have confirmed all of the above, I'll reach back out to you to book your appointment and get you back on the road to great credit!<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap"
      >If you have any questions, please feel free to contact me anytime at <a
        href="https://www.approvalgenie.ca/contact-used-car-dealerships-near-me/"
        target="_blank"
        previewlistener="true"
        >Approval Genie</a
      > or <a
        href="aarati@konnectcraft.com?subject=I%20want%20to%20speak%20to%20the%20Genie!"
        target="_blank"
        previewlistener="true"
        >aarati@konnectcraft.com</a
      ><br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap"
      >I look forward to hearing from you,</span
    >
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap">Aarati <br /><a
        href="aarati@konnectcraft.com?subject=I%20want%20to%20speak%20to%20the%20Genie!"
        target="_blank"
        previewlistener="true"
        >aarati@konnectcraft.com</a
      ></span
    >
  </p>
</html>
