<html>
  <p style="text-align: center">
    <img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
    /><br />
  </p>
  <p style="text-align: left">
    <span style="font-size: 18px">
      <strong>Hi Firstname,</strong><br />
      I'm super excited to start the process of getting you
      <strong>APPROVED </strong>for your car loan with LendingArch and Approval
      Genie!<br />
      My name is Aarati and I'll be the Finance Manager taking care of your
      file. <strong>I have some GREAT news!</strong> Based on the information
      you provided, you DO qualify for some of our best financing offers. As a
      courtesy to you, I wanted to let you know that I will be reaching out
      shortly from and I'll just need a minute of your time to discuss your
      options and our next steps together.<br />I'm confident that you'll be
      thrilled with my service and auto loan options we have on offer.
      <strong><u>We're Canada's highest-rated auto finance company</u></strong>
      for a reason!<br />
      I'm very excited to go over everything with you! <br />
      Aarati<br />
      <u>aarati@konnectcraft.com</u>
    </span>
  </p>
</html>
