<html>
  <p style="text-align: center">
    <img
      src="https://media.discordapp.net/attachments/1088529328146481213/1234053614377369640/image.png?ex=662f557d&amp;is=662e03fd&amp;hm=859f82dddbd94a371c3b6815c8ceee39170c8af23865b6e0c39125433b69fc25&amp;=&amp;format=webp&amp;quality=lossless&amp;width=480&amp;height=120"
      alt=""
      width="300"
    /><br />
  </p>
  <p style="text-align: left">
    <span style="font-size: 18px">
      <strong>Salut Firstname,</strong><br />
      J'ai vraiment hâte de commencer le processus pour vous
      <strong>OBTENIR </strong>l'approbation pour le prêt auto avec LendingArch
      et Mega Moteur!<br />
      Permettez-moi de me présenter, mon nom est Aarati et je serai la personne
      responsable du financement qui s'occupera de votre dossier, je travaille
      en collaboration avec les banques du Canada afin de trouver la meilleure
      approbation possible, peu importe votre situation de crédit.
      <strong>J'ai d' EXCELLENTES nouvelles pour vous !</strong> Selon les
      informations fournies, vous êtes admissible à des offres de financement
      avantageuses.Par respect envers vous, je tiens à vous informer que je vais
      bientôt vous contacter depuis le numéro et Je vais prendre quelques
      minutes de votre temps afin de discuter du processus .<br />
      J'ai pleine confiance que vous trouverez satisfaction de mon service et
      des options de prêt auto que nous avons à offrir.
      <u
        >Ce n'est pas pour rien que nous sommes la société de financement
        automobile la mieux cotée au Canada !</u
      ><br />
      J'attends avec impatience notre discussion à ce sujet ! <br />
      Aarati<br />
      <u>aarati@konnectcraft.com</u>
    </span>
  </p>
</html>
