<html>
  <p style="text-align: justify">
    <img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
      style="display: block; margin-left: auto; margin-right: auto"
    />
  </p>
  <p style="text-align: justify">
    <img
      src="https://cdn.discordapp.com/attachments/1209366005139120140/1234793784806740028/image.png?ex=663206d3&amp;is=6630b553&amp;hm=7f29c8dd4c5d01e14aa8cc45d52d9b4e90487ad42153825ac682b2a7e96456b5&amp;"
      alt=""
      width="300"
      style="display: block; margin-left: auto; margin-right: auto"
    />
  </p>
  <p style="text-align: justify">
    <strong style="font-size: 30px"
      >3 great reasons to&nbsp;finance&nbsp;your vehicle with us:</strong
    >
  </p>
  <ol>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        ><strong>Defer or suspend your car payments for up to 5 months.</strong>
        We get it, life happens - especially in these uncertain times. Job loss
        or change in employment, divorce, emergency or unexpected expenses...
        they can occur "all of a sudden". We can help provide some financial
        breathing room.</span
      >
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        ><strong
          >We offer consolidation of your credit/debt up to a maximum of
          $2500!</strong
        >
        This is especially helpful if you've got a line of credit or card that
        needs to be taken care of.</span
      >
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        ><strong>$0 down payments on vehicles - yes, that's right!</strong> Get
        approved and drive away in less than 48 hours, with absolutely no money
        down!</span
      >
    </li>
  </ol>
  <p style="text-align: justify">
    <span style="font-size: 30px"
      ><strong>So what are you waiting for?</strong>
    </span>
  </p>
  <p style="text-align: justify">
    <img
      src="https://cdn.discordapp.com/attachments/1209366005139120140/1234431483444199444/image.png?ex=66315e28&amp;is=66300ca8&amp;hm=c131e1d8021eaaf598390af31fe045e1e7f52d4d96b1ec54099d6948dbcbe83a&amp;"
      width="400"
      style="font-size: 18px"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px">
      If you have any questions, please feel free to
      <a
        href="https://www.approvalgenie.ca/contact-used-car-dealerships-near-me/"
        target="_blank"
        previewlistener="true"
        >contact us</a
      >
      anytime at or aarati@konnectcraft.com<br />
    </span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px">
      We're looking forward to reading your 5-Star review, <br />Aarati<br /><a
        href="aarati@konnectcraft.com?subject=I%20want%20to%20speak%20to%20the%20Genie!"
        target="_blank"
        previewlistener="true"
        >aarati@konnectcraft.com</a
      ></span
    >
  </p>
</html>
