<html>
  <p style="text-align: center">
    <img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
    />
  </p>
  <p style="text-align: center">
    <img
      src="https://cdn.discordapp.com/attachments/1209366005139120140/1234800306332762143/image.png?ex=66320ce6&amp;is=6630bb66&amp;hm=27923b3bee9abaa31f77292619501d86f0ad0ac0a733559f3c836bb0a4e8c38d&amp;"
      width="400"
      style="width: 400px"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 30px"
      ><strong>We believe in second chances</strong></span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >We also believe that an auto loan has the power to be truly magical and
      provide an opportunity to improve your lifestyle, grow your wealth and
      offer financial opportunities.<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >The Approval Genie team has made it our mission to help hard-working
      Canadians get approved for an auto loan whether they have good credit, bad
      credit or are starting from scratch with no credit at all.<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >A market leader and disrupter in the auto finance industry since 2012,
      our slogan “Every loan is magical” is also our mantra. We love making a
      difference in people’s lives.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><img
        src="https://cdn.discordapp.com/attachments/1209366005139120140/1234431483444199444/image.png?ex=66315e28&amp;is=66300ca8&amp;hm=c131e1d8021eaaf598390af31fe045e1e7f52d4d96b1ec54099d6948dbcbe83a&amp;"
        width="400"
        style="width: 400px"
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 24px"
      ><strong>We understand that you and your needs, are unique.</strong></span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >We advise and consult with you to ensure you obtain an affordable auto
      loan and a vehicle that fits your lifestyle. Most importantly, we offer
      the chance to rebuild and re-establish your credit history.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><img
        src="https://cdn.discordapp.com/attachments/1209366005139120140/1234800347810365480/image.png?ex=66320cf0&amp;is=6630bb70&amp;hm=e7b8d39b0a0e84b669da3b1752edf661b1b190962889013f93a666f6fe5b0498&amp;"
        width="450"
        style="
          width: 450px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        "
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Approval Genie has 8 locations, 100+ knowledgeable, trusted advisors and
      1,000s of vehicles to choose from. Our
      <a
        href="https://www.approvalgenie.ca/our-partners/"
        target="_blank"
        previewlistener="true"
        >partner network</a
      >
      ensures our inventory is affordable, safe, reliable and beautiful inside
      and out. You'll also love the speed and efficiency of our Genies! Our
      mission is to get you into your dream ride and back on the road quickly,
      all while improving your credit!</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><img
        src="https://cdn.discordapp.com/attachments/1209366005139120140/1234544291398025326/image.png?ex=6631c737&amp;is=663075b7&amp;hm=c8d0a1da44bd62e3099e7c454eeecb9f3467078aebac40baf509c3fbdbfe2f86&amp;"
        width="200"
        style="width: 200px"
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong style="font-size: 30px">Here's how we do it.</strong></span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong style="font-size: 24px"
        >We partnered with the best.</strong
      ></span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Our
      <a
        href="https://approvalgenie.ca/our-partners/ttp:/"
        target="_blank"
        previewlistener="true"
        >lending partners</a
      >
      love us because we don’t push our clients to take a financing solution
      that doesn’t work their budget.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><img
        src="https://cdn.discordapp.com/attachments/1209366005139120140/1234800419939815536/image.png?ex=66320d01&amp;is=6630bb81&amp;hm=8e69925824ffde3d571b00f0e891c965f24e0bc1522ee049d1185610ba92a5a3&amp;"
        width="450"
        style="
          width: 450px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        " /><strong>We educate our customers.</strong> <br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >We help instill in our clients a healthy respect and understanding for
      credit because it can give them the opportunity to grow their
      wealth.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong
        >We pride ourselves on providing the best pre- and post-service in the
        industry.</strong
      ><br />
    </span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >It’s no coincidence that Approval Genie has earned thousands of
      <a
        href="https://www.approvalgenie.ca/reviews/"
        target="_blank"
        previewlistener="true"
        >5-star reviews online</a
      >. Honesty, integrity and trust are why thousands of Canadians choose
      us.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><img
        src="https://cdn.discordapp.com/attachments/1209366005139120140/1234800490974416986/image.png?ex=66320d12&amp;is=6630bb92&amp;hm=871f8f9a46a83cf86820dd6ab7642a9f2e6aa62b6592a68af79a8c761028dd60&amp;"
        width="200"
        style="width: 200px"
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >We'd love to know how we can help you! Feel free to contact us anytime at
      or aarati@konnectcraft.com<br />Chat soon, <br />Aarati<br /><a
        href="aarati@konnectcraft.com?subject=I%20want%20to%20speak%20to%20the%20Genie!"
        target="_blank"
        previewlistener="true"
        >aarati@konnectcraft.com</a
      ></span
    >
  </p>
</html>
