<html>
  <p style="text-align: center">
    <img src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png" alt="" width="300">
  </p>
  <p style="text-align: center">
    <img src="https://media.discordapp.net/attachments/1209366005139120140/1234575921055535116/image.png?ex=66313bec&amp;is=662fea6c&amp;hm=d65c43ab8254fbd0e2b9901deefd61809808fa80eac9c691e66b7a01dc19f5f5&amp;=&amp;format=webp&amp;quality=lossless&amp;width=549&amp;height=420" alt="" width="300">
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap"><strong>Hi Firstname,</strong><br></span>
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap">It's been a little while since we last connected.<br></span>
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap">In a world full of uncertainties, many of life's big moments are being put on hold. Here at Approval Genie, we understand that not everyone can delay their next car purchase. We wanted to reach out and ask if there's anything we can do to help you with an auto loan or trade-in appraisal. With a 90% approval rate and over two decades of industry-leading experience, we're ready to step-up and help get your credit back on track. We approve most vehicle financing within 24 hours</span>
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap"><img src="https://cdn.discordapp.com/attachments/1209366005139120140/1234544267331109006/image.png?ex=66311e72&amp;is=662fccf2&amp;hm=bfa19d7d6bc01bb1f31b0d69ba527357d288c9d3eff47fbbea5494795d78de65&amp;" alt="" width="300"></span>
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap">Our team can help you finance or trade a vehicle 100% online and by phone - from the comfort and safety of your own home. Our Genies will bring it straight to your door, with a touchless delivery process designed to keep you safe. Approval Genie is doing our part to keep you moving. Thousands of happy Canadians are saying amazing things about our Genies and our service</span></p><p><br></p><p style="text-align: justify"><strong>
    <img src="https://cdn.discordapp.com/attachments/1209366005139120140/1234544291398025326/image.png?ex=66311e77&amp;is=662fccf7&amp;hm=c9410af9fb3bd1344f59e07befcb14fadfbdf72ba182bdf58c5e86d5a11b6e7e&amp;" width="200" style="width: 200px">
  </strong></p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap">At Approval Genie, we do things a bit differently. We're here to alleviate your stress about financing a vehicle.<br></span>
  </p>
  <ul>
    <li style="text-align: justify">
      <span style="white-space: pre-wrap">A few things you should know about what we offer:<br></span>
    </li>
    <li style="text-align: justify">
      <span style="white-space: pre-wrap">deferred or no payments for 5 months on car loans<br></span>
    </li>
    <li style="text-align: justify">
      <span style="white-space: pre-wrap">potential consolidation of your debt/credit (up to $2500)<br></span>
    </li>
    <li style="text-align: justify">
      <span style="white-space: pre-wrap">$0 down payments<br></span>
    </li>
    <li style="text-align: justify">
      <span style="white-space: pre-wrap">off-site / home delivery of your new or used vehicle<br></span>
    </li>
    <li style="text-align: justify">
      <span style="white-space: pre-wrap">“White Glove Service” car cleaning and sanitizing prior to touchless delivery<br></span>
    </li>
  </ul>
  <p style="text-align: justify">
    <img src="https://cdn.discordapp.com/attachments/1209366005139120140/1234431483444199444/image.png?ex=6630b568&amp;is=662f63e8&amp;hm=d0ef2570cccf2a3355af6f0418524791f246b7b690b8dc738c65318c756ed6cf&amp;" width="450" style="width: 450px"><br>
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap">If you have any questions, please feel free to contact us anytime at or aarati@konnectcraft.com<br></span>
  </p>
  <p style="text-align: justify">
    <span style="white-space: pre-wrap">We're looking forward to helping you, <br>Aarati<br><a href="aarati@konnectcraft.com?subject=I%20want%20to%20speak%20to%20the%20Genie!" target="_blank" previewlistener="true">aarati@konnectcraft.com</a></span>
  </p>
</html>
