<html>
  <p style="text-align: center">
    <img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
      style="font-size: 18px"
    />
  </p>
  <p style="text-align: center">
    <img
      src="https://cdn.discordapp.com/attachments/1209366005139120140/1234569941248901161/image.png?ex=6631365b&amp;is=662fe4db&amp;hm=168617b4ce0061b5a322ae835f70d07dc4faf6eb0d761c222b3adb801390013f&amp;"
      alt=""
      width="300"
      style="font-size: 18px"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong>So, how does it work?</strong> <br
    /></span>
  </p>
  <ol>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >Get pre-approved in 30 seconds online. Visit
        <a
          href="https://www.approvalgenie.ca/"
          target="_blank"
          previewlistener="true"
          >ApprovalGenie.ca</a
        >
        and complete our fast and easy pre-approval form. One of our Genies will
        reach out with momentarily via phone or video chat with your approval
        and hundreds of inventory options for you to choose from.<br /><img
          src="https://cdn.discordapp.com/attachments/1209366005139120140/1234570492594098276/image.png?ex=663136de&amp;is=662fe55e&amp;hm=7c7a57f7d3b916b164c997fbefac3d41323ed80f7680a8556ac40929dd9a3e82&amp;"
          width="250"
          style="width: 250px"
      /></span>
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >Choose your vehicle and financing terms. We offer hundreds of vehicle
        choices to fit your budget and lifestyle. All late-models, makes and
        years. Review everything electronically. Our Genies are passionate
        financial advisors that will take the stress out of your car buying
        experience and help you with a game plan to get you back on the road to
        great credit. No fast-talking - you are in control.<br />
      </span>
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >Have your new vehicle delivered to your door. Choose a delivery time
        and place that suits you and your schedule. With everything moving
        quickly these days, we understand the need to stay flexible. Our new
        touchless delivery and pick-up service will put you at ease.<br
      /></span>
    </li>
  </ol>
  <p style="text-align: center">
    <span style="font-size: 18px"
      ><img
        src="https://media.discordapp.net/attachments/1209366005139120140/1234571033655119872/image.png?ex=6631375f&amp;is=662fe5df&amp;hm=bada356fbbd879504f501ba06fc9c493352a0500dbb7a42681317422ce80aca5&amp;=&amp;format=webp&amp;quality=lossless&amp;width=513&amp;height=348"
        alt=""
        width="300" /><br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong>Frequently Asked Questions <br /></strong
    ></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong
        >Can I buy or trade-in a car through Approval Genie right now?</strong
      >
      <br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Yes! We're considered an essential service provider and our operations
      are always compatible with the day-to-day circumstances we all find
      ourselves in (no matter how difficult). In addition, we are proud to offer
      touch-less delivery and pick-up appointments. Should your appointment to
      buy or trade-in a car be impacted by any unforeseen changes, we will
      contact you immediately.
    </span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><img
        src="https://cdn.discordapp.com/attachments/1209366005139120140/1234571595541123214/image.png?ex=663137e5&amp;is=662fe665&amp;hm=e443c5b07b6e356d25dc96c9915ab9703503cb9c88b10f1ae2304f3498bda381&amp;"
        alt=""
        width="300" /><br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong
        >What measures are being taken to protect Approval Genie clients and
        employees?</strong
      >
      <br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >The health of our community is our highest priority during times of
      uncertainty. All of our team members in our physical locations are always
      following precautions based on the guidance of Health Canada and local
      regulatory departments. We have implemented sanitization efforts in all of
      our facilities and vehicles, while also adhering to best health practices
      within the workplace and in all customer interactions. We've also
      successfully rolled out touch-less delivery, touch-less pick-up and
      private appointments at all of our locations. Whatever the circumstances,
      we'll deliver your vehicle straight to your door.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><img
        src="https://cdn.discordapp.com/attachments/1209366005139120140/1234571683885482104/image.png?ex=663137fa&amp;is=662fe67a&amp;hm=30e8bf821abae600387bb24b78097a4a6c8804c77bce2e9d084b072c2a26373c&amp;"
        width="500"
        style="width: 500px" /><br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >If you have any questions, please feel free to
      <a
        href="https://www.approvalgenie.ca/contact-used-car-dealerships-near-me/"
        target="_blank"
        previewlistener="true"
        >contact us</a
      >
      anytime at or aarati@konnectcraft.com<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >We're looking forward to helping you, <br />Aarati<br /><a
        href="aarati@konnectcraft.com?subject=I%20want%20to%20speak%20to%20the%20Genie!"
        target="_blank"
        previewlistener="true"
        >aarati@konnectcraft.com</a
      ></span
    >
  </p>
</html>
