<html>
  <p>
    <img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
    />
  </p>
  <p>
    <img
      src="https://media.discordapp.net/attachments/1209366005139120140/1234573361791631452/image.png?ex=6631398a&amp;is=662fe80a&amp;hm=815fd80946107e84463719c570220352987a8ea2df3f69d37a45908e16088f09&amp;=&amp;format=webp&amp;quality=lossless&amp;width=660&amp;height=250"
      alt=""
      width="300"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong>Hi again Firstname,</strong><br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >We hope you're enjoying your new vehicle! As you know, the team at
      Approval Genie loves helping people. Likewise, we love rewarding people
      for helping us connect with our community. We wanted to reach out to let
      you know about our referral bonus! All of our loyal clients have the
      opportunity to receive a $500 REFERRAL BONUS upon referral vehicle
      delivery. It's really easy - just forward this email to your friend(s) and
      have them show it to their Genie during vehicle delivery. You'll then
      receive a sweet $500 for helping your friend(s) improve their credit while
      they drive. A total win-win!
    </span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><img
        src="https://cdn.discordapp.com/attachments/1209366005139120140/1234148667745767477/image.png?ex=6630ff83&amp;is=662fae03&amp;hm=debd63e2db16646138caa7e817c4576bb1dbaecb7a2d0eed4106896ad13e60a6&amp;"
        alt=""
        width="300"
        style="display: block; margin-left: auto; margin-right: auto"
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Our team can help you finance, trade or even buy your vehicle 100% online
      and by phone - from the comfort and safety of your own home. Our Genies
      will bring it straight to your door, with a touchless delivery process
      designed to keep you safe. We’re all in this together, and at Approval
      Genie we’re doing our part to keep you moving.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px">We offer some other great incentives:</span>
  </p>
  <ul>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >deferred or no payments for 5 months on car loans</span
      >
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >potential consolidation of your debt/credit (up to $2500)<br
      /></span>
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px">$0 down payments<br /></span>
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >off-site / home delivery of your new or used vehicle<br
      /></span>
    </li>
    <li style="text-align: justify">
      <span style="font-size: 18px"
        >“White Glove Service” car cleaning and sanitizing prior to touchless
        delivery</span
      >
    </li>
  </ul>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><img
        src="https://cdn.discordapp.com/attachments/1209366005139120140/1234431483444199444/image.png?ex=6630b568&amp;is=662f63e8&amp;hm=d0ef2570cccf2a3355af6f0418524791f246b7b690b8dc738c65318c756ed6cf&amp;"
        width="400"
        style="width: 400px" /><br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Approval Genie is committed to servicing customers vehicle financing
      needs, regardless of market conditions. As always, trade-ins and
      consolidation of existing vehicle loans are welcome.
    </span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><img
        src="https://cdn.discordapp.com/attachments/1209366005139120140/1234571595541123214/image.png?ex=663137e5&amp;is=662fe665&amp;hm=e443c5b07b6e356d25dc96c9915ab9703503cb9c88b10f1ae2304f3498bda381&amp;"
        alt=""
        width="300" /><br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >We're here to help with all of your vehicle financing needs, so
      <a
        href="https://www.approvalgenie.ca/contact-used-car-dealerships-near-me/"
        target="_blank"
        previewlistener="true"
        >reach out to us</a
      >
      anytime at or aarati@konnectcraft.com<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >We're looking forward to helping you, <br />Aarati<br /><a
        href="aarati@konnectcraft.com?subject=I%20want%20to%20speak%20to%20the%20Genie!"
        target="_blank"
        previewlistener="true"
        >aarati@konnectcraft.com</a
      ></span
    >
  </p>
</html>
