<html>
  <p style="text-align: justify">
    <img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
      style="
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
      "
    />
  </p>
  <p style="text-align: justify">
    <img
      src="https://cdn.discordapp.com/attachments/1209366005139120140/1234793784806740028/image.png?ex=663206d3&amp;is=6630b553&amp;hm=7f29c8dd4c5d01e14aa8cc45d52d9b4e90487ad42153825ac682b2a7e96456b5&amp;"
      alt=""
      width="300"
      style="
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
      "
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong> Cars, SUV's, Trucks, Vans... </strong></span
    >
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong> Your dream wheels are waiting for you.</strong>
    </span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px">
      We offer hundreds of vehicle choices to fit your budget and lifestyle -
      late-models, all makes, years and pricing. Not only is buying a used
      vehicle a responsible financial move, but a car loan is one of the best
      ways to improve or rebuild your credit! <br />
    </span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px">
      We'll match you with your dream ride, affordable financing and at the same
      time help you with a game plan to get you back on the road to great credit
      - a win-win!
    </span>
  </p>
  <p style="text-align: justify">
    <img
      src="https://cdn.discordapp.com/attachments/1209366005139120140/1234793823104925756/image.png?ex=663206dc&amp;is=6630b55c&amp;hm=cbdb229e6822dc5faca7f45c9d842da562a993db4de69d9d9cc74c3bda1d472a&amp;"
      width="400"
      style="font-size: 18px"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"> Years of happy driving ahead. <br /> </span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px">
      Our used vehicle inventory is thoroughly inspected, safetied and certified
      by our professional and experienced partner garages. You can rest assured
      that your vehicle is safe and reliable for years to come.
    </span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 30px"
      ><strong> We don't mean to brag, but...</strong>
    </span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px">
      Our after-sales service is pretty legendary too! We're sure you'll never
      need to use it, but our used inventory warranty period for any mechanical
      issues extends to a full 30 days or 5,000 kilometers for your
      peace-of-mind.
    </span>
  </p>
  <p style="text-align: justify">
    <img
      src="https://cdn.discordapp.com/attachments/1209366005139120140/1234793855875022868/image.png?ex=663206e4&amp;is=6630b564&amp;hm=25e95e42339311c7c17dc373b568c386763ac84d24b0e6002716bc4408c13600&amp;"
      width="400"
      style="
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
      "
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 30px"
      ><strong> So what are you waiting for?</strong>
    </span>
  </p>
  <p style="text-align: justify">
    <img
      src="https://cdn.discordapp.com/attachments/1209366005139120140/1234431483444199444/image.png?ex=66315e28&amp;is=66300ca8&amp;hm=c131e1d8021eaaf598390af31fe045e1e7f52d4d96b1ec54099d6948dbcbe83a&amp;"
      width="400"
      style="font-size: 18px"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px">
      If you have any questions, please feel free to
      <a
        href="https://www.approvalgenie.ca/contact-used-car-dealerships-near-me/"
        target="_blank"
        previewlistener="true"
        >contact us</a
      >
      anytime at or aarati@konnectcraft.com<br />
    </span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px">
      We're looking forward to reading your 5-Star review, <br />Aarati<br /><a
        href="aarati@konnectcraft.com?subject=I%20want%20to%20speak%20to%20the%20Genie!"
        target="_blank"
        previewlistener="true"
        >aarati@konnectcraft.com</a
      >
    </span>
  </p>
</html>
