<html>
  <p style="text-align: center">
    <img
      src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5defc26ed9ab770001e715a9/0x0.png"
      alt=""
      width="300"
    />
  </p>
  <p style="text-align: center">
    <img
      src="https://cdn.discordapp.com/attachments/1209366005139120140/1234791112242102333/image.png?ex=66320456&amp;is=6630b2d6&amp;hm=04e6cff81e8d404fbfe2fd12a8ff7673c94ebd1561623835e0f7b02642633ce5&amp;"
      alt=""
      width="300"
    />
  </p>
  <p style="text-align: center">
    <img
      src="https://cdn.discordapp.com/attachments/1209366005139120140/1234791126511124500/image.png?ex=66320459&amp;is=6630b2d9&amp;hm=71636c2937e62aeb6beb0125ded8eaea7b7c74d617c50345d25489b8b26fd917&amp;"
      alt=""
      width="300"
      style="display: block; margin-left: auto; margin-right: auto"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong>Yes they're real, and they're spectacular.</strong> <br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >Our outstanding online customer sentiment didn't happen overnight - and
      definitely not by accident. For over a decade we've been helping
      hard-working Canadians get back on the road to great credit with a vehicle
      loan that makes sense.</span
    >
  </p>
  <p style="text-align: justify">
    <img
      src="https://cdn.discordapp.com/attachments/1209366005139120140/1234791172518576219/image.png?ex=66320464&amp;is=6630b2e4&amp;hm=2554b9cf169937ac684468473eaa5a7703633a9bff01f71064e71b630df63c22&amp;"
      alt=""
      width="300"
    />
  </p>
  <p style="text-align: center">
    <img
      src="https://cdn.discordapp.com/attachments/1209366005139120140/1234791197806039060/image.png?ex=6632046a&amp;is=6630b2ea&amp;hm=3b9dc8b10036406931bc641eab595ea2781e976cd3c96b3c2ba98f3c56ba0907&amp;"
      width="500"
      style="
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      "
    />
  </p>
  <p style="text-align: justify">
    <img
      src="https://cdn.discordapp.com/attachments/1209366005139120140/1234791216034611250/image.png?ex=6632046f&amp;is=6630b2ef&amp;hm=6834931a46b51496a402547377b4186a4f643e56e6568b6f42bd53b779d2f377&amp;"
      width="250"
      style="width: 250px"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      ><strong>We're the highest-rated auto finance company in Canada.</strong
      ><br />
    </span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >We average 4.8 / 5 stars across thousands of reviews on
      <a
        href="https://www.google.com/search?q=approval+genie+reviews"
        target="_blank"
        previewlistener="true"
        >Google</a
      >,
      <a
        href="https://www.trustpilot.com/review/approvalgenie.ca"
        target="_blank"
        previewlistener="true"
        >Trustpilot</a
      >
      and
      <a
        href="https://www.facebook.com/approvalgenie"
        target="_blank"
        previewlistener="true"
        >Facebook</a
      >
      for a reason. Our reviews reflect our experience, service level and core
      values.<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >We're passionate about what we do. We love to help. Our after-sales
      service is just as fresh and attentive as the first day you connect with
      us. We also believe that an auto loan has the power to be truly magical
      and provide an opportunity to improve your lifestyle, grow your wealth and
      offer financial opportunities. The Approval Genie team has made it our
      mission to help hard-working Canadians get approved for an auto loan
      whether they have good credit, bad credit or are starting from scratch
      with no credit at all. Amazing customer service is what we're all
      about.</span
    >
  </p>
  <p style="text-align: justify">
    <strong style="font-size: 30px">So what are you waiting for?</strong>
  </p>
  <p style="text-align: justify">
    <img
      src="https://cdn.discordapp.com/attachments/1209366005139120140/1234431483444199444/image.png?ex=66315e28&amp;is=66300ca8&amp;hm=c131e1d8021eaaf598390af31fe045e1e7f52d4d96b1ec54099d6948dbcbe83a&amp;"
      width="400"
      style="width: 400px"
    />
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >If you have any questions, please feel free to
      <a
        href="https://www.approvalgenie.ca/contact-used-car-dealerships-near-me/"
        target="_blank"
        previewlistener="true"
        >contact us</a
      >
      anytime at or aarati@konnectcraft.com<br
    /></span>
  </p>
  <p style="text-align: justify">
    <span style="font-size: 18px"
      >We're looking forward to reading your 5-Star review, <br />Aarati<br /><a
        href="aarati@konnectcraft.com?subject=I%20want%20to%20speak%20to%20the%20Genie!"
        target="_blank"
        previewlistener="true"
        >aarati@konnectcraft.com</a
      ></span
    >
  </p>
</html>
